{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <style>
         

    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <!-- {% for data in worktime_data %}
  <h3>Email: {{ data.email }}</h3>
  <p>Date: {{ data.date }}</p>
  <ul>
      {% for entry in data.worktime_entries %}
          <li>
               
              <h4>Total Work Time: {{ entry.total_work_time }}</h4>
          </li>
      {% endfor %}
  </ul>
  <hr>
{% endfor %} -->


<div class="table container-fluid">
    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <th>Date</th>
            <th>Email</th>
            <th>Total Worktime</th>

        </tr>
        {% for data in worktime_data %}
        <tr>
            <td>{{data.date}}</td>
            <td>{{data.email}}</td>
            {% for entry in data.worktime_entries %}
            <td>{{entry.total_work_time}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

 
</body>
</html>